

    <div class="alert container position-sticky top-0 alert-primary hide" role="alert">
     Añadido satisfactoriamente al carrito de compras.
    </div>
    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
      Producto retirado del carrito de compras.
    </div>
    
<!-- Inicio de las pills del navegador -->
<!-- Home -->
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active "
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0"
      >  <!-- carousel -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- Imagen Carrusel 1 -->
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#777"/>
        <rect width="100%" height="100%" fill="#55595c" />
        <image class="opacity-50" href="/img/Elden-Ring COVER.webp" width="100%"/>
        <text class="fst-italic  fs-5 " x="60%" y="35%" fill="#2f2e2a" dy=".3em">"Un diseño de niveles y grandioso, y una dificultad que representa un verdadero reto"</text>
      </svg>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>RocketGames</h1>
          <p class="">¿Quieres ser miembro VIP? registrate para recibir beneficios.</p>
          <p> <button class="btn btn-lg btn-primary" onclick="document.getElementById('id02').style.display='block'" href="#">Registrate Ahora&raquo;</button></p>
         
        </div>
      </div>
    </div>
    <div class="carousel-item">
       <!-- Imagen Carrusel 2 -->
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#55595c" />
        <image class="opacity-50" href="/img/Alloy. hzd2.jpg
        " width="100%"/>
        <text class="fst-italic  fs-5 " x="20%" y="20%" fill="#2f2e2a" dy=".3em">"Horizon Forbidden West, una secuela imprescindible"</text></svg>
        

      <div class="container">
        <div class="carousel-caption">
          <h1>Adentrate en la Aventura.</h1>
          <p>Vive historias en las cuales conquistaras y evolucionarassiendo parte de las aventuras mas Epícas.</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
       <!-- Imagen Carrusel 3 -->
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>
        <rect width="100%" height="100%" fill="#777"/>
        <image class="opacity-50" href="/img/gt7.1.webp" width="100%"/>
        <text class="fst-italic  fs-5 " x="60%" y="35%" fill="#2f2e2a" dy=".3em"></text></svg>

      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Pasión por los motores</h1>
          <p>Los mejores juegos de simulación de conducción para los aficionados a las carreras.</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Contenido de Pestaña HOME -->
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>RocketGames</title>
        <img class="rocket__logo" src="/img/logo-pequeño.png" alt="">
        <rect width="100%" height="100%" fill="#777"/>
        <text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>

      <h2 class="fw-normal text-light">RocketGames</h2>
      <p class="text-light"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptas est ratione, esse consectetur obcaecati eveniet accusantium quaerat in commodi illum? Veritatis amet reprehenderit laudantium iusto mollitia dicta tempore debitis. </p>
      <p><a class="btn btn-primary" onclick="document.getElementById('id02').style.display='block'" href="#">Registrate &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <img class="rocket__logo" src="/img/cyberpunk-2077-COVER.png" alt="">
        <rect width="100%" height="100%" fill="#777"/>
        <text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>

      <h2 class="fw-normal text-light">Contactanos</h2>
      <p class="text-light"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptas neque, quae alias voluptatem repudiandae aut blanditiis mollitia provident laudantium obcaecati reprehenderit laborum nostrum maiores voluptatum illum illo? Voluptas, corporis. </p>
      <p><a class="btn btn-primary" onclick="document.getElementById('id03').style.display='block'" href="#">Contactanos &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <img class="rocket__logo" src="/img/FFxviCOVER.webp" alt="">
        <rect width="100%" height="100%" fill="#777"/>
        <text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>

      <h2 class="fw-normal text-light"> Nosotros</h2>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non natus, deserunt, quas mollitia ut incidunt recusandae est sint numquam at quia facere provident repellendus odio voluptates, enim maxime tempore sapiente.</p>
      <p><a class="btn btn-primary" href="#">Saber mas &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 text-light">Diseño batallas <span class="text-muted ">Que te volarán la cabeza.</span></h2>
      <p class="lead text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae animi dignissimos molestias ut, magnam recusandae, libero odit architecto repellendus magni ipsam debitis accusantium autem veritatis quisquam dolores esse quasi perspiciatis.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/img/ghost of tsushima COVER.webp" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1 text-light">Magia y peleas <span class="text-muted">Pruebalo tu mismo.</span></h2>
      <p class="lead text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, tempora odit maxime quod deserunt expedita perspiciatis est quae voluptatem quo dolorum? Ullam, molestiae reprehenderit. Est sed animi quaerat ab natus?</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/img/Final Fantasy XVI cover.webp" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#eee"/>
      <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>

    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 text-light">Dale un Jaquemate <span class="text-muted">Al aburrimiento.</span></h2>
      <p class="lead text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maxime quo, aperiam dignissimos commodi illo! Aliquid, reiciendis. Libero debitis fuga iure rerum? Illum quam excepturi, nostrum tempora labore possimus iure?</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/img/stray cover.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>

    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->

      </div>


